.finish-text{
	font-size:3em;
	font-weight:bold;
	text-align: center;
}

.black-div{
	height: 45em;
	width: 50em;
}
.scrolleable-item{
	overflow-y:scroll;
	overflow-x:hidden;
	height:30em;
}

.final-list{
	height:20em;
}

.panel{
	padding: 0em;
}

.modal-body{
	padding-bottom: 0em;
}

.my-panel{
	height: 40em;
	width: 40em;
	background-color: blue;
}

.carousel{
	position: block;
	padding-top: 5%;
	text-decoration: none;
}

.item .carousel-caption{
	position: absolute;
	top: 0;
}

.my-element{
	height: 3em;
	color: #555555;
}


.my-list-group .total-element:hover{
	background-color: grey;
	color:white;
}

.my-list-group .total-element{
	background-color: grey;
	color:white;
}


.my-list-group .total-element .left-total{
	position: absolute;
	display: inline-block;
	left:3%;

}

#details-view-reduced * h3{
	color: black;
	font-size: 0.95em;
	padding-left: 1em;
	font-weight: bold;
}

#confirm-buy-buttons div div button{
	display: block;
	width: 100%;
}

#details-view-reduced * p{
	color: black;
	font-size: 0.95em;
	text-align: left;
	padding-left: 1em;
}

.my-list-group .total-element .right-total{
	display: inline-block;
	position:absolute;
	right:5%;

}

.panel-body .form-group{
	color: black;
	text-align: left;
}

form .dropdown{
	padding:0;
	float: left;
}

form .city-picker label {
	display: block;
	text-decoration: none;
}

.city-picker .form-group{
	display: inline-block;
	max-width: 10em;
	float:left;
	padding-right: 0.5em;
}

.adress-picker .form-group{
	display: inline-block;
	float:left;
	padding-right: 0.5em;
}

#address-choose{
	display:block;

}

#buy-date-selector{
	
}

.inline-div div div{
	display: block;
	
}


.date-selector .years-buy{
	width:40%;
}

.date-selector .months-buy{
	width:35%;
}

.pay-type-picker .form-group{
	display: inline-block;
	width: 30%;
}


.stepwizard-step p {
	margin-top: 10px;    
}

.stepwizard-row {
	display: table-row;
}

.stepwizard {
	display: table;     
	width: 100%;
	position: relative;
}

.stepwizard-step button[disabled] {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
	top: 14px;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 100%;
	height: 1px;
	background-color: #ccc;
	z-order: 0;

}

.stepwizard-step {    
	display: table-cell;
	text-align: center;
	position: relative;
}

.stepwizard-step .btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}

.step-wizard-container{
	padding: 0;
	padding-top: 2em;
	display: block;
	margin: 0;
}

.carousel-caption{
	color:black;
	text-shadow:none;
}

.carousel-caption {
	left: 15%;
	right: 15%;
	padding-bottom: 30px;
}

.header-row-elem{
	padding-left: 0;
	padding-right: 0;
}

.addressDetails{
	margin-bottom: 0;
}

.total_price2{
	font-weight: bold;
}

.total-price2-title{
	font-weight: bold;
}