#size-selector{
	width:100%;
}

.load-modal-container{

}

.loading-img{
	width:20%;
	margin-left: auto;
	margin-right: auto;
	display:block;
}

#load-container {
	text-align: center;
}

.empty-cart {
	font-size: 2em;
	text-align: center;
}

.textToAppear{
	display: none;
}

.total{
	text-align: right;
	margin-top: 0.5em;
}

.cart-panel{
	margin:2em;
	margin-left: 6em;
}

.cart-title{
	font-size: 1.5em;
	font-weight: bold;
	padding-left: 2em;
}

.header-row-elem{
	display: inline-block;
	text-align: center;
	font-weight: bold;
	border: #cdcdcd medium solid;
	border-radius: 0.6em;
}

.cart-row-img{
	width: 30%;
}

.cart-row-elem{
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	float: none;
	padding-right: 2em;
}

.red-cross-elem{
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	float: none;
	padding: 0em;
	width: 3%;
}

#product_list{
	margin-top: 1em;
	display:none;
}

.submit-container{
	padding-left: 3em;
	padding-top: 2em;
}