.toNewCat:hover, .toSaleCat{
	cursor:pointer;
}

#category-title{
	margin-top: 0;
}

a:hover, a:visited, a,a:link {
	color: black;
	text-decoration: none;
}

h2 span.spacer {
   padding:0 5px;
}

.central-content-div h1{
	margin-left: 9em;
	font-size: 50;

}

.toProd{
	margin-left: 1em;
}

h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
   text-align: center;
}

.breadcrumb > li + li:before {
	content: "> ";
}

#primavera { 
   position: absolute; 
   top: 9em; 
   left: 18em; 
   width: 100%; 
}

#vientos { 
   position: absolute; 
   top: 21em; 
   left: 2em; 
   width: 100%;
}

#tiempos { 
   position: absolute; 
   top: 27em; 
   left: 22em; 
   width: 100%;
}

.cat-row{
	width: 100%;
	height: 335px;
	background-color: inherit;
	margin-bottom: 20px;
}

.cat-img{
max-width: 100%;
}

.panel{
	margin-bottom: 0;
}

li.category{
	margin-bottom: 0;
}

a.accordion-toggle {
	color: black; 
} 

.accordion-heading.a:visited, a:hover.accordion-toggle, a.accordion-toggle, a:active.accordion-toggle, a:visited.accordion-toggle {
	color: black; 
} 

#menpic {
	height:25em;
	width:80%;
	text-align: center;
	background-color: pink;
}

img{
	max-width: 100%;
	max-height: 100%;
}

#men {
	height:100p;
	max-width: 100p;
}




#two-columns-content-container{
	padding-left: 2em;
}


.result-field{
	font-weight: bold;
}

.filter-container{
	padding: 1em;
}

.filter-title{
	font-weight: bold;
	font-size: 1em;
}

.filter-list{
	margin:0em;
}

.list-group-item{
	padding:0.05em;
}