.in-construction-container{
	padding:2em;
}

.in-construction-title{
	font-weight: bold;
	text-align: center;
	font-size:1.5em;
	padding-top:0.5em;
	padding-bottom:0.5em;
}

.in-construction-img{
	width:30%;
	display: block;
	margin-left: auto;
	margin-right: auto
}