#loading-img{
	width:20%;
	margin-left: auto;
	margin-right: auto;
	display:block;
}

#message_div_wish, #message_div_cart{
	color: #FF8C30;
	font-style: italic;
	font-size: 0.9em;    
	padding-top: 0em;
	padding-bottom: 1em;
	width: 100%;
}

body .productDescription{
	width:70%;
	margin-left: auto;
	margin-right: auto;
}

#prod-stats{
	font-size: 2em;
	margin-bottom: 1.5em;
	margin-top:1.75em;
	font-weight:bold;
}

#product-name{
	font-size:3em;
	font-weight:bold;
	text-align: center;
}

.product-top-container{
	margin-top: 2%;
	margin-bottom: 5%;
}

#product-image{
	width:100%;
}

.min-prod-item{
	list-style-type: none;
	margin-top: 10%;
	margin-bottom: 10%;

}

.min-product-image{
	width:90%;
	margin-bottom: 10%;
}

.unselected-min-img:hover{
	opacity: 1;
	cursor: pointer;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

.unselected-min-img{
	opacity: 0.4;
	filter: alpha(opacity=40); /* For IE8 and earlier */
}



.product-bottom-container{
	margin-top: 3%;
	margin-bottom: 3%;
}

.product-description-container{
	text-align: justify;

}

.button-options *{
	width: 50%;
	margin: auto;
	padding-top: 3%;
}

.product-data-title{
	font-weight: bold;
	font-size: 1.5em;
}

.product-data-value{
	font-size: 1.5em;
}

.prod-button{
	text-align: center;
	width: 100%;
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.prod-button[disabled]{
	background-color: #5cb85c;
}


.properties-button{
	margin: auto;
	width: 30%;
	margin-bottom: 3.5%;
}