ul.dropdown-menu.multi-level{
	margin:0em;
}

.not-logged-message {
	text-align: center;
	font-size: 1.5em;
	font-style: italic;
}

#register-button {
    width: 100%;
}

#saleTitle,#newsTitle{
	padding-left: 5%;
	padding-bottom: 1.5%;
	padding-top: 1.5%;
}

div .align-right{
	text-align: right;
}

.breadcrumb li a[href] {
	color: rgba(61, 147, 0, 0.92);
}

.breadcrumb > li + li:before {
	content: "> ";
}

a:link, a:visited, a:active, a:hover {
	color: #777777;
}

#state-message, #reg-message{
	margin-top: 5px;
	margin-bottom: 10px;
	color: #a94442;
}

.imgCont{
	text-align: center;
}

.tmp-container{
	display:none;
}

.complete-width{
	width: 100%;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}



/*.dropdown .dropdown-menu {
    position: absolute;
	top: 100%;
    left: 0;
    margin: 0;
}
.dropdown button span{
	position:absolute;
	top:25px;
}

.dropdown button{
	padding-top: 0;
}

.dropdown-menu> li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover> .dropdown-menu {
    display: block;
}
.dropdownss{
	background-color: inherit;
	border-radius: 0;
}

.dropdownss div.btn-default {
	background-color:black;
}
*/

.navbar-brand{
	/*padding-left:0;
	padding-top: 0;
	padding-right: 0;*/
	padding-bottom:0;
	margin-bottom: 0;
	height:40px;
}


.avatar{
	height: 100%;
}

.navbar-header ul{
	list-style-type: none;
	margin-bottom: 0;
}

.navbar-header p{
	cursor:pointer;
	
}
.navbar-header{
	width:33%;
}
#testing.navbar-header{
	padding-right:8em;
}

.category-bar.navbar-header{
	padding-right: 5em;
}


#testbut1, #testbut2, #testbut3{
	background-color: #f8f8f8;
	border-radius: 0;
	border-color: transparent;
	padding-left: 0;
	padding-top: 0;
	
	padding-bottom: 0;
}


#categories li{
	display: inline-block;
	background-color: inherit;
	border-radius: 0;
}


#testing div{
	display:inline-block;
}

#HTMLbody{
	overflow-y: scroll;
}

.footer div div ul{
	padding:0;
}

.dinamic-navbar-component{
	display: none;
}

.slider{
	display:inline-block;
	position: static;
	width: 100%;
}
.slider-div{
	display:inline-block;
	position: static;
	width: 100%;
}

#slider-text{
	width:100%;
}

#slider-li{
	list-style-type: none;

}

#slider-text p{
	display: inline-block;
	position: static;
	color:black;
	font-weight: bold;
	padding-left: 2%;
	padding-right: 2%;
}

#slider-text-left{
	
}

#slider-text-right{
	float: right;
}

.logged{
	display: none;
}

.dinamic-navbar-component-active{
	position: relative;
	display: inline-block;
	top:-3em;
}

#page-logo-container{
	width:10%;
	display: inline-block;
}

#page-logo{
	display: inline-block;
	height:8em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#search-container{
	position: relative;
	top:-3em;
	width:40%;	
	display: inline-block;
}

#search-input{
	width:75%;
	display: inline-block;
}

#authentication-container{
	display: inline-block;
	position: relative;
}

.authentication-buttons-container{
	display: inline-block;
}

#unlogged-static-bar{
	float:right;
	top:3em;
	padding-right: 1em;
}

#cart-container{
	position: relative;
	display: inline-block;
}

.unlogged-cart-elem{
	left:80%;
	top:5%;
	position: absolute;
}

.user-options-elem{
	display: inline-block;
}

#unlogged-cart-icon{
	height:3.5em;
}

.date-selector{
	display: inline-block;
	width:100%;
}

.days, .months, .months-buy{
	display: inline-block;
	width: 20%;
}

.years, .years-buy{
	display: inline-block;
	width: 35%;
}

.required-field{
	color: #FF8C30;
	font-style: italic;
	font-size: 0.9em;
}

.forgotten-pass:hover{
	cursor: pointer;
}

.navbar-form{
	float: right;
}

.navbar{
	padding: 0;
	margin: 0;
}

.header{
	display: inline-block;
}

#top-navbar{
	background-color: white;
	height: 15em;
}

#user-data-container{
	position: relative;
	display: inline-block;
}

#user-avatar {
	text-align: center;
}

#logged-static-bar{
	position:relative;
	top:0.2em;
	float:right;
}

#logged-static-bar *, #logged-static-bar * *{
	position:relative;
	top: 0px;
}

#user-options-container{
	position: relative;
	display: inline-block;
	top:-1em;
}

#user-avatar{
	height:4em;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.informative-text{
	text-decoration: underline;
	text-align: right;
	padding-right: 2em;
	margin: 0%;
	display: block;
}

#greeting-text{
	margin: 0%;
	display: block;	
}

#wishlist-icon{
	height:2.5em;
}

#wishlist-icon-mobile{
	height:1.5em;
}

.wishlist-elem{
	top:0%;
	position: relative;
}

#cart-icon{
	height:3.5em;
	position: relative;
}

#cart-elem{

	top:0%;
	position: relative;
}

.navbar-header {
	height: 100%;
	padding-left: 1%;
	padding-right: 1%;	
}

.header-search {
	display:inline-block;
	position: relative;
	float: right;
	padding-right: 20%;
	top: 50%;
}

.footer-item
{
	list-style-type: none;
	font-weight: bold;
	color: #333333;
}

.footer-item:hover{
	font-weight: bold;
	cursor: pointer;
	list-style-type: none;
	color: #555555;
}

.footer{
	padding-left: 5%;
}

#water-logo-image{
	height:12em;
	width:8em;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.car-img{
	width:60em;
	margin-left: auto;
	margin-right: auto;
}

.mySale{
	width:50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.saleName{
	font-weight: bold;
	font-size:1.2em;
}

.saleDiv{
	width:25%;
	display: inline-block;
}

.footer{
	background-color: rgba(0, 0, 0, 0.1);
}

.login-dialog {
	width: 300px;
}
.login-footer {
	height: 70px;
	margin: 0;
}

#login-btn {
	font-weight: bold;
}

.logged-text{
	font-weight: bold;
}

.toConstruct{
	font-weight: bold;
	color:black;
}

.follow-us-logo img {
	width: 10%;
}

.payment-logo img {
	width: 100%;
}

.payment-logo {
	display: inline-block;
	width: 20%;
}

.categories-bar div{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #BBBBBB; 
	display: inline-block;
	position: static;
}

.collapse-hamburguer-categories{
	display:none;
}

.navbar-brand{
	
	margin: auto;
}

#mobile-search-box{
	padding:0;
	margin:0;
	width:100%;
}

#mobile-navbar div ul li{
	display: inline-block;
}

@media (min-width: 768px){

	.navbar-brand{
		padding-left: 1.75em;
		border-radius: 0;
	}

	.navbar-bottom{
		padding-right:0;
	}
	.categories-bar div *, .categories-bar div{
		display: inline-block;
		position: static;
		margin: auto;
		text-align: center;
		border-right-width: 0;
		padding-left: 	1.75em
	}
	.categories-bar div *{
		border-style-right: solid;
	}

	.categories-bar div{
		
		width :33%;
		border-style-right: solid;
	}

	#categories-bar{
		display:block;
	}
	
	#custom-navbar{
		display:block;
	}
	
	#mobile-navbar{
		display: none;
	}

	#search-navbar{
		display:none;
	}	
}

@media (max-width: 768px){
	#custom-navbar{
		display:none;
	}
	
	#mobile-navbar{
		display:block;
	}
	
	#follow-us, #footer-second-level, #footer-second-level *{
		margin: 0;
	}

	.categories-bar div *, .categories-bar div{
		display: block;
		position: static;
		margin: auto;
		width: 100%;
		text-align: center;
		border-style: none;
	}
	
	#collapse-hamburguer-categories{
		display:block;
	}

}


nav > .pagination > li > a{
	color:#333333;
}


.error-panel{
	margin-left: auto;
	margin-right: auto;
	width: 70em;
	margin-top: 3em;
}


.error-title{
	font-weight: bold;
	font-size: 2em;
}

.error-image{
	width: 40em;
}

.error-body{
	padding: 0.4em;
}
.error-sign{
	font-weight: bold;
	font-style: italic;
}

.error-image{
	width: 40em;
}

.api-error-image{
	width: 30em;
	padding-left: 5em;
	padding-right: 5em;
}

.center-text{
	text-align: center;
}