.panel{
	background-color: #F5F5F5;
}

#cant-combobox{
	display:inline-block;
	width:25%;
}

#two-columns-content-container{
	padding-left: 2em;
}

#load-results-container {
    text-align: center;
}

#search-key{
	padding-left: 5%;
	padding-bottom: 1.5%;
	padding-top: 1.5%;
}

.search-sort-bar{
	height: 8em;
}

#search-opt{
	display: inline-block;
	width:25%;
	vertical-align: top;
	padding-top: 1.5em;
}

#sort-combobox{
	display: inline-block;
	width:50%;

}

#search-pagination-top{
	display: inline-block;
	width:30%;
	vertical-align: top;
}

#search-pagination-bottom{
	display: inline-block;
	width:100%;
	vertical-align: top;
	padding-left: 25%
}

#search-pag-ammount{
	display: inline-block;
	width:30%;
	vertical-align: top;
	padding-top: 1.5em;
}

.search-result:hover, .search-result:hover img{
	opacity:0.7;

}

.search-result{
	width:20%;
	display: inline-block;
	padding: 1em;
}

.search-result-picture{
	width:80%;
	margin-left: auto;
	margin-right: auto;
}

.result-field{
	font-weight: bold;
}

.filter-container{
	padding: 1em;
}

.filter-title{
	font-weight: bold;
	font-size: 1em;
}

.filter-list{
	margin:0em;
}

.list-group-item{
	padding:0.05em;
}

