#add-address{
    float:right;
    top:22px:;
}

.account-config{
	margin:2%;
}

.scrolleable-item{
  overflow-y:scroll;
  overflow-x:hidden;
  height:20em;
}

.total-container{
  padding-bottom: 1em;
  padding-top: 0em;
}

.account-config-title{
	font-weight: bold;
	font-size: 1.5em;
}

.orders-modal-container{
    padding-left: 2em;
}

.orders-modal-all{
  width: 80%;
}

.account-config-subtitle{
  padding-bottom: 1.5em;
	font-weight: bold;
  color:#333333;
}

.data-field{
  padding-left: 10em;
  margin-top:2em;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  color:#333333;
}

.config-field{
	margin-bottom: 2%;
	margin-top:0.5%;
	margin-left:5%;
	margin-right: 5%;
  border-color: #dddddd;
}

.config-rows{
    margin-bottom: 5%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#account_image img{
    width: 100%;
}

.btn-circle {
  width: 27px;
  height: 27px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-modify{
    background-color: #f5f5f5;
}

.account-field{
	font-weight: bold;
}

.account-data{
	display: block;
	margin:1em;
}

div div .number-box{
  width: 10em;
}

.floor-input:focus::-webkit-input-placeholder {
  opacity: 0;
}
