.addall{
	text-align: right;
}

.wishlist-body{
	padding-left: 2%;
	padding-right: 2%;
}

.textToAppear{
	display: none;
}

#loading-all-img{
	width:20%;
	margin-left: auto;
	margin-right: auto;
	display:block;
}

.wish-to-cart-icon{
	width: 2em;
}

.wish-to-cart-modal{
	padding-left:0%;
}

.wish-to-cart-btn{
	padding:0.4em;
}

.wish-to-cart-form{
	text-align: left;
}

.add-all-title{
	font-weight: bold;
	display: block;
	font-size: 1.5em;
}

.add-all-field{
	display: inline-block;
	width: 30%;
}

hr .add-all-line{
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}