<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>PineApple | Configuración de Usuario</title>
	<!-- Bootstrap -->
	
	<!-- Latest compiled and minified CSS -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->

	<link rel="stylesheet" href="./bootstrap-3.3.5-dist/css/bootstrap.css">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	
	<link rel='stylesheet' type='text/css' href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css'/>
	<link rel="stylesheet" href="./css/prototype.css">
	<link rel="stylesheet" href="./css/cart.css">
	<link rel="stylesheet" href="./css/buy.css">
	<link rel="stylesheet" href="./css/userConfig.css">

	<script src="./js/combodate.js"></script>
	<script src="./js/static-bar.js"></script>
	<script src="./js/userConfig.js"></script>
	<script src="./js/controllers.js"></script>


	<noscript>
		<meta http-equiv="refresh" content="0;url=noscript.html">
	</noscript>

</head>
<body id="HTMLbody">
	<div class="static-top-bar">
		<nav id="custom-navbar" class="navbar navbar-default">
			<div class="top-bar-header">
				<div id="page-logo-container" class="hidden-xs"><a href="./mainPage.html"><img id="page-logo" src="./img/logo2.png" alt="Pineapple logo"></a>
				</div>
				<div id="search-container">
					<form id="search-form">
						<input id="search-input" type="text" class="form-control hidden-xs my-search-input" placeholder="Ingrese producto, categoría, marca, etc..." name="key">
						<button type="submit" class="btn btn-default my-search-button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
					</form>
				</div>
				<div id="unlogged-static-bar" class="dinamic-navbar-component  dinamic-navbar-component-active">
					<div id="authentication-container">
						<div class="authentication-buttons-container btn-group visible-xs-block visible-md-inline-block visible-sm-inline-block visible-lg-inline-block">
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-success" data-toggle="modal" data-target="#logInModal">Iniciar Sesión</button>

							<!-- Button trigger modal -->
							<button type="button" class="btn btn-default autentication-button " data-toggle="modal" data-target="#signUpModal">Registrarse</button>	

						</div>
					</div>
					
				</div>
				<div id="logged-static-bar" class="dinamic-navbar-component">

					<div id="user-data-container" title="Mi Perfil">
						<a href="./userConfig.html" id="user-avatar">
							<img src="./img/avatar-placeholder.png" class="avatar img-circle" alt="avatar">
						</a>
						<p id="greeting-text"></p>
						<a href="#" id="logoff">
							<p class="informative-text">Cerrar sesión</p>
						</a>
					</div>
					<div id="user-options-container">
						<div class="user-options-elem" title="Mi lista de deseos">
							<a href="./wishlist.html"><img id="wishlist-icon" src="./img/wishlist-icon.png" alt="Wishlist icon"></a>
							<span class="badge wishlist-elem" id="badge-wish-logged">-</span>
						</div>
						<div class="user-options-elem" title="Mi Carrito">
							<a href="./cart.html"><img id="cart-icon" src="./img/cart-icon.png" alt="Cart icon"></a>
							<span class="badge cart-elem" id="badge-cart-logged">-</span>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<div ng-app="registerApp" class="authentication-modal">
			<!-- Modal -->
			<div class="modal fade" id="logInModal" tabindex="-1" role="dialog" aria-labelledby="logInModal">
				<div class="modal-dialog" role="document">
					<div class="modal-content">


						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">Iniciar Sesión</h4>
						</div> <!-- /.modal-header -->

						<form name="signInForm" ng-controller ="signinvalidator">
							<div class="modal-body">
								<div class="form-group">
									<label>Nombre de usuario/Email</label>
									<div ng-class="{'has-error': signInForm.loginuser.$invalid && signInForm.loginuser.$dirty}">
										<input alphanumeric-and-specials-check name="loginuser" ng-model="signinvalidator.loginuser" type="text" class="form-control" id="uName">
										<p class="help-block" ng-show="signInForm.loginuser.$error.alphanumericAndSpecialsCheck" && "signInForm.loginuser.$dirty">Nombre de usuario/email inválido.</p>
									</div>
								</div> <!-- /.form-group -->

								<div class="form-group">
									<label>Contraseña</label>
									<div>
										<input type="password" class="form-control" id="uPassword">
									</div> <!-- /.input-group -->
								</div> <!-- /.form-group -->

								<div id="state-message" class="tmp-container"></div>
								<div class="checkbox">
									<label>
										<input type="checkbox" id="keepMe"> Recuérdame
									</label>
								</div><!-- /.checkbox -->
								<div>
									<a class="forgotten-pass toConstruct">¿Olvidaste tu contraseña?</a>
								</div>

							</div> <!-- /.modal-body -->

							<div class="modal-footer">
								<button type="submit" id="login-btn" class="form-control btn-success">Confirmar</button>
							</div> <!-- /.modal-footer -->
						</form>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div>


			<!-- Modal -->
			<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModal">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Registrarse</h4>
						</div>
						<div class="modal-body">
							<form name="signUpForm" ng-controller ="validator">
								<div>
									<span class="required-field">* Campos obligatorios</span>
								</div>
								<div class="form-group" ng-class="{'has-error': signUpForm.name.$invalid && signUpForm.name.$dirty}">
									<label for="name" >Nombre(s):<span class="required-field">*</span></label>
									<input name="name" type="text" ng-disabled required ng-model="validator.name" class="form-control" id="name" 
									ng-maxlength="80" alphanumeric-check>
									<p class="help-block" ng-show="signUpForm.name.$error.alphanumericCheck && signUpForm.name.$dirty">El nombre de usuario solo puede tener caracteres alfanuméricos.</p>
									<p class="help-block" ng-show="signUpForm.name.$error.maxlength && signUpForm.name.$dirty">El nombre es demasiado largo.</p>
									<p class="help-block" ng-show="signUpForm.name.$error.required && signUpForm.name.$dirty">Este campo es obligatorio.</p>
								</div>
								<div class="form-group" ng-class="{'has-error': signUpForm.surname.$invalid && signUpForm.surname.$dirty}">
									<label for="surname">Apellido(s)<span class="required-field" ng-model="validator.surname">*</span></label>
									<input type="text" class="form-control" id="surname" name="surname" required alphanumeric-check ng-maxlength="80" ng-model="validator.surname">
									<p class="help-block" ng-show="signUpForm.surname.$error.alphanumericCheck && signUpForm.surname.$dirty">El nombre de usuario solo puede tener caracteres alfanuméricos.</p>
									<p class="help-block" ng-show="signUpForm.surname.$error.maxlength && signUpForm.surname.$dirty">El apellido es demasiado largo</p>
									<p class="help-block" ng-show="signUpForm.surname.$error.required && signUpForm.surname.$dirty">Este campo es obligatorio.</p>
								</div>

								<div class="form-group" ng-class="{'has-error': signUpForm.DNI.$invalid && signUpForm.DNI.$dirty}">
									<label for="dni">DNI<span class="required-field">*</span></label>
									<input type="text" document-format class="form-control" id="dni" name="DNI" ng-model="validator.DNI" required>
									<p class="help-block" ng-show="signUpForm.DNI.$error.documentFormat && signUpForm.DNI.$dirty">Documento inválido</p>
									<p class="help-block" ng-show="signUpForm.DNI.$error.required && signUpForm.DNI.$dirty">Este campo es obligatorio.</p>
								</div>

								<div class="form-group" ng-class="{'has-error': signUpForm.email.$invalid && signUpForm.email.$dirty}">
									<label>Dirección de email<span class="required-field">*</span></label>
									<input type="email" class="form-control" id="email1" name="email" ng-model="validator.email" ng-maxlength="80" required>
									<p class="help-block" ng-show="signUpForm.email.$error.email && signUpForm.email.$dirty">No es una dirección de email válida.</p>
									<p class="help-block" ng-show="signUpForm.email.$error.maxlength && signUpForm.email.$dirty">La cuenta de email es demaisado larga.</p>
									<p class="help-block" ng-show="signUpForm.email.$error.required && signUpForm.email.$dirty">Este campo es obligatorio.</p>
								</div>

								<div class="form-group" ng-class="{'has-error': signUpForm.username.$invalid && signUpForm.username.$dirty}">
									<label for="username">Nombre de usuario</label>
									<input type="text" alphanumeric-check class="form-control" id="username" name="username" ng-model="validator.username"
									ng-minlength="6"
									ng-maxlength="15">
									<p class="help-block" ng-show="signUpForm.username.$error.minlength && signUpForm.username.$dirty">El nombre de usuario debe tener al menos 6 cararteres.</p>
									<p class="help-block" ng-show="signUpForm.username.$error.maxlength && signUpForm.username.$dirty">El nombre de usuario puede tener como mucho 15 caracteres.</p>
									<p class="help-block" ng-show="signUpForm.username.$error.alphanumericCheck && signUpForm.username.$dirty">El nombre de usuario solo puede tener caracteres alfanuméricos y no puede comenzar por un número.</p>
								</div>

								<div class="row">
									<div class="form-group col-md-7 div">
										<label>Fecha de nacimiento<span class="required-field">*</span></label>
										<div class="date-selector" ng-class="{'has-error': signUpForm.year.$invalid && signUpForm.year.$dirty}">
											<select class="days form-control" id="registry-days"></select>
											<select class="months form-control" id="registry-months"></select>
											<select class="years form-control" age-check name="year" ng-model="validator.year" id="registry-years" value="2015"></select>
											<p class="help-block" ng-show="signUpForm.year.$error.ageCheck && signUpForm.year.$dirty">La edad debe ser mayor o igual a 18.</p>
										</div>
									</div>

									<div class="form-group col-md-5 div">
										<label>Sexo<span class="required-field">*</span></label>
										<div>
											<select class="form-control" id="gender">
												<option>F</option>
												<option>M</option>
											</select>
										</div>
									</div>
								</div>

								<div class="form-group" ng-class="{'has-error': signUpForm.password.$invalid && signUpForm.password.$dirty}">
									<label for="pwdreg">Contraseña<span class="required-field">*</span></label>
									<input type="password" class="form-control" id="pwdreg" name="password" ng-model="validator.password" password-format
									ng-minlength="8"
									ng-maxlength="15">
									<p class="help-block" ng-show="signUpForm.password.$error.passwordFormat && signUpForm.password.$dirty">La contraseña sólo puede tener caracteres alfanuméricos, "/", ".", ",", "%", "$", "-", "+" y ";</p>
									<p class="help-block" ng-show="signUpForm.password.$error.minlength && signUpForm.password.$dirty">La contraseña debe tener al menos {{validator.password.minLength}} caracteres.</p>
									<p class="help-block" ng-show="signUpForm.password.$error.maxlength && signUpForm.password.$dirty">La contraseña es demasiado larga.</p>
									<p class="help-block" ng-show="signUpForm.password.$error.required && signUpForm.password.$dirty">Este campo es obligatorio.</p>
								</div>

								<div class="form-group" ng-class="{'has-error': signUpForm.passwordConfirm.$invalid && signUpForm.passwordConfirm.$dirty}">
									<label for="checkpwd">Confirmar contraseña<span class="required-field">*</span></label>
									<input type="password" password-match class="form-control" id="checkpwd" name="passwordConfirm" ng-model="validator.passwordConfirm">
									<p class="help-block" ng-show="signUpForm.passwordConfirm.$error.required && signUpForm.passwordConfirm.$dirty">Este campo es obligatorio.</p>
									<p class="help-block" ng-show="signUpForm.passwordConfirm.$error.passwordMatch && signUpForm.passwordConfirm.$dirty">La contraseña no coincide.</p>
								</div>

								<div class="form-group checkbox">
									<label><input required checked-check type="checkbox" name="tyc" ng-model="validator.tyc">He leído y acepto los Términos y condiciones<span class="required-field">*</span></label>
									<label><input type="checkbox" checked>Deseo recibir información sobre novedades</label>
								</div>

								<button type="submit" ng-disabled="signUpForm.$invalid" class="btn btn-success" id="register-button">Ingresar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>		
		<nav class="navbar navbar-default" id="mobile-navbar">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li>
						<button class="btn btn-success navbar-btn collapse-hamburguer-categories"  type="button" data-toggle="collapse" data-target="#categories-bar" aria-expanded="false" aria-controls="categories-bar"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></button>
					</li>
					<li>
						<button class="btn btn-default navbar-btn collapse-hamburguer-categories"  type="button" data-toggle="collapse" data-target="#search-navbar" aria-expanded="false" aria-controls="search-navbar"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
					</li>
					<li>
						<div class="btn-group ">
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-success unlogged" data-toggle="modal" data-target="#logInModal">Iniciar Sesión</button>

							<!-- Button trigger modal -->
							<button type="button" class="btn btn-default autentication-button unlogged" data-toggle="modal" data-target="#signUpModal">Registrarse</button>	
							
							<button type="button" class="btn btn-default logged logoff">Cerrar Sesión</button>
							
						</div>
					</li>
					<li>
						<div class="btn-group">
							<button class="toCart btn btn-default navbar-btn"  type="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></button>
							<button class="toCart btn btn-default navbar-btn"  type="button"><span class="badge">42</span></button>

							<button class="toWish btn btn-default navbar-btn logged"  type="button"><img id="wishlist-icon-mobile" src="./img/wishlist-icon.png" alt="Wishlist icon"></button>
							<button class="toWish btn btn-default navbar-btn logged"><span class="badge wishlist-elem">5</span></button>
						</div>
					</li>
				</ul>
			</div>
		</nav>
		<nav id="search-navbar" class="navbar navbar-default collapse" aria-controls="search-navbar">
			<form class="navbar-form navbar-left" id="mobile-search-box">
				<div class="form-group" >
					<input type="text" class="form-control" placeholder="Search">
				</div>
			</form>
		</nav>

		<nav id="categories-bar" class="navbar navbar-default collapse" aria-controls="categories-bar">
			<div class="col-md-12 container-fluid category-bar" id="testing">
				<div class="navbar-bottom navbar-header" >

					<div class="container">
						<div class="row " id="categories">
							<div class="dropdown toMen">
								<a id="dLabel" role="button" data-toggle="dropdown" class="btn navbar-brand" data-target="#" href="/page.html">
									Hombre <span class="caret"></span>
								</a>
								<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
									

								</ul>
							</div>

							<div class="dropdown toWomen">
								<a id="dLabel" role="button" data-toggle="dropdown" class="btn navbar-brand" data-target="#" href="/page.html">
									Mujer <span class="caret"></span>
								</a>
								<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
									

								</ul>
							</div>

							<div class="dropdown toKids">
								<a id="dLabel" role="button" data-toggle="dropdown" class="btn navbar-brand" data-target="#" href="/page.html">
									Niño <span class="caret"></span>
								</a>
								<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
									

								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="navbar-bottom navbar-header" >
					<ul>
						<li><p class="navbar-brand toFootwear">Calzado</p></li>
						<li><p class="navbar-brand toClothing">Ropa</p></li>
						<li><p class="navbar-brand toAccesories">Accesorios</p></li>
					</ul>
				</div>
				<div class="navbar-bottom navbar-header" >
					<p class="navbar-brand toSale">Promociones</p>
				</div>
			</div>
		</nav>
	</div>
	<ol class="breadcrumb" display="none"></ol>
	<div class="content" ng-app="profileApp">
		<div class="panel panel-default account-config">
			<div class="panel-body account-config-title">Mi Perfil</div>
			<div class="panel-footer">
				<div class="row">
					<div class="config-field">

						<!-- Nav tabs -->
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a class="account-config-subtitle" href="#home" aria-controls="home" role="tab" data-toggle="tab">Información de cuenta</a></li>
							<li role="presentation"><a class="account-config-subtitle" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Historial de pedidos</a></li>
						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="home">
								<div>
									<div class="row data-field">
										<div class="col-md-6 div">
											<div class="account-data">
												<span class="account-field">Nombre(s): </span><span class="account-value" id="accName"></span>
											</div>
											<div class="account-data">
												<span class="account-field">Nombre de usuario: </span><span class="account-value" id="accUname"></span>
											</div>
											<div class="account-data">
												<span class="account-field">DNI: </span><span class="account-value" id="accIdentity"></span>
											</div>
											<div class="account-data">
												<span class="account-field">Fecha de nacimiento: </span><span class="account-value" id="accBdate"></span>
											</div>
										</div>
										<div class="col-md-6 div">
											<div class="account-data">
												<span class="account-field">Apellido(s): </span><span class="account-value" id="accSurname"></span>
											</div>
											<div class="account-data">
												<span class="account-field">Email: </span><span class="account-value" id="accMail"></span>
												<button type="button" class="btn btn-default btn-circle btn-modify" data-toggle="modal" data-target="#change-email"><i class="glyphicon glyphicon-pencil"></i></button>
											</div>
											<div class="account-data">
												<span class="account-field">Sexo: </span><span class="account-value" id="accGen"></span>
											</div>
											<div class="account-data">
												<span class="account-field">Contraseña: </span><span class="account-value"> &#0149&#0149&#0149&#0149&#0149&#0149&#0149&#0149</span>
												<button type="button" class="btn btn-default btn-circle btn-modify" data-toggle="modal" data-target="#change-password"><i class="glyphicon glyphicon-pencil"></i></button>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div role="tabpanel" class="tab-pane  scrolleable-item" id="profile">        
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Fecha de pedido</th>
											<th>Dirección</th>
											<th>Estado de pedido</th>
											<th>Ver más</th>
										</tr>
									</thead>
									<tbody id="prevOrdersBody">
									</tbody>
								</table>
							</div>

							<div class="modal fade" id="view-products-modal" tabindex="-1" role="dialog" aria-labelledby="view-products-modal">
								<div class="modal-dialog orders-modal-all" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h4 class="modal-title" id="myModalLabel">Pedido</h4>
										</div> 
										<div class="modal-body">
											<div class="listOfProducts">
												<div class="row">
													<div class="panel panel-default orders-modal-container">
														<div class="row">
															<div class="col-md-3 header-row-elem">Producto</div>
															<div class="col-md-2 header-row-elem">Nombre</div>
															<div class="col-md-2 header-row-elem">Color</div>
															<div class="col-md-1 header-row-elem">Talle</div>
															<div class="col-md-1 header-row-elem">Cantidad</div>
															<div class="col-md-2 header-row-elem">Precio Unitario</div>
														</div>
														<div id="load-container">
															<img id="loading-img" src="./img/loading.gif" alt="Cargando contenido...">
														</div>
														<div id="product_list" class="scrolleable-item">
															
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row submit-container total-container">
											<div class="col-md-6 total">
											</div>
											<div class="col-md-3 total total_price">
											</div>
											<div class="col-md-1">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.modal-dialog -->
		</div>

		<div class="modal fade" id="change-password" tabindex="-1" role="dialog" aria-labelledby="change-password">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title" id="myModalLabel">Cambiar contraseña</h4>
					</div> <!-- /.modal-header -->

					<div class="modal-body">
						<div class="config-field">
							<form name="changePasswordForm" controller="changepass">
								<div class="form-group" ng-class="{'has-error': changePasswordForm.prevpassword.$invalid && changePasswordForm.prevpassword.$dirty}">
									<label>Contraseña actual</label>
									<input type="password" name="prevpassword" ng-model="changepass.prevpassword" class="form-control" id="prev_pwd"
									required
									ng-minlength="8"
									ng-maxlength="15">

									<div ng-messages="changePasswordForm.prevpassword.$error" style="color:maroon" role="alert" ng-show="changePasswordForm.prevpassword.$dirty">
										<div ng-message="required">Este campo es obligatorio.</div>
										<div ng-message="maxlength">La contraseña es demasiado larga.</div>
										<div ng-message="minlength">La contraseña debe tener al menos 8 caracteres.</div>
									</div>
								</div>

								<div class="form-group" ng-class="{'has-error': changePasswordForm.password.$invalid && changePasswordForm.password.$dirty}">
									<label for="pwdreg">Nueva Contraseña<span class="required-field">*</span></label>
									<input type="password" class="form-control" id="re_prev_pwd" name="password" ng-model="changepass.password" alphanumeric-and-specials-check
									required
									ng-minlength="8"
									ng-maxlength="15">
									
									<div ng-messages="changePasswordForm.password.$error" style="color:maroon" role="alert" ng-show="changePasswordForm.password.$dirty">
										<div ng-message="required">Este campo es obligatorio.</div>
										<div ng-message="alphanumericAndSpecialsCheck">La contraseña sólo puede tener caracteres alfanuméricos, "/", ".", ",", "%", "$", "-", "+" y ";".</div>
										<div ng-message="maxlength">La contraseña es demasiado larga.</div>
										<div ng-message="minlength">La contraseña debe tener al menos 8 caracteres.</div>
									</div>
								</div>

								<div class="form-group" ng-class="{'has-error': changePasswordForm.passwordConfirm.$invalid && changePasswordForm.passwordConfirm.$dirty}">
									<label for="checkpwd">Confirmar contraseña<span class="required-field">*</span></label>
									<input type="password" password-match class="form-control" id="new_pwd" name="passwordConfirm" ng-model="changepass.passwordConfirm"
									required>
									<div ng-messages="changePasswordForm.passwordCochangePasswordFormnfirm.$error" style="color:maroon" role="alert" ng-show="changePasswordForm.passwordConfirm.$dirty">
										<div ng-message="required">Este campo es obligatorio.</div>
										<div ng-message="passwordMatch">Las contraseñas no coinciden.</div>
										<div ng-message="minlength">La contraseña debe tener al menos 8 caracteres.</div>
									</div>
								</div>

								<button type="submit" class="btn btn-success password_modal_save" id="submit_chpass" ng-disabled="changePasswordForm.$invalid">
									Cambiar contraseña
								</button>	
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="change-email" tabindex="-1" role="dialog" aria-labelledby="change-email">
			<div  class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title" id="myModalLabel">Cambiar email</h4>
					</div> <!-- /.modal-header -->

					<div class="modal-body">
						<div class="config-field">
							<form name="changeEmailForm" controller="changeemail">
								<div class="form-group" ng-class="{'has-error': changeEmailForm.newemail.$invalid && changeEmailForm.newemail.$dirty}">
									<label>Dirección de email<span class="required-field">*</span></label>
									<input type="email" class="form-control" id="new_email" name="newemail" ng-model="changeemail.newemail" ng-maxlength="80" required>
									<div ng-messages="changeEmailForm.newemail.$error" style="color:maroon" role="alert" ng-show="changeEmailForm.newemail.$dirty">
										<div ng-message="required">Este campo es obligatorio.</div>
										<div ng-message="email">No es una dirección de email válida.</div>
										<div ng-message="maxlength"> La cuenta de email es demaisado larga.</div>
									</div>
								</div>

								<div class="form-group" ng-class="{'has-error': changeEmailForm.confirmemail.$invalid && changeEmailForm.confirmemail.$dirty}">
									<label>Dirección de email<span class="required-field">*</span></label>
									<input type="email" class="form-control" id="re_new_email" name="confirmemail" ng-model="changeemail.confirmemail" ng-maxlength="80" required check-mail-match>
									<div ng-messages="changeEmailForm.confirmemail.$error" style="color:maroon" role="alert" ng-show="changeEmailForm.confirmemail.$dirty">
										<div ng-message="required">Este campo es obligatorio.</div>
										<div ng-message="checkMailMatch"> Las cuentas de email no coinciden.</div>
									</div>
								</div>

								<button type="submit" ng-disabled="changeEmailForm.$invalid" class="btn btn-success password_modal_save" id="submit_chemail">
									Cambiar email
								</button>	
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<form class="row" name="savedAddressesForm" ng-controller="repeat">
			<div class="panel panel-default config-field" id="Addresses">
				<div class="panel-heading account-config-subtitle">
					Direcciones de envío
					<!-- Button trigger modal -->
					<button id="add-address" type="button" class="btn btn-success btn-circle" data-toggle="modal" data-target="#newAddress"><i class="glyphicon glyphicon-plus"></i></button>
					<!-- Modal -->
					<div class="modal fade" id="newAddress" tabindex="-1" role="dialog" aria-labelledby="newAddress">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">Agregar dirección de envío</h4>
								</div>
								<div class="modal-body">
									<form name="newAddressForm" ng-controller="addaddress">
										<ng-form name="ngNewAddress">
											<div>
												<span class="required-field">* Campos Obligatorios</span>
											</div>
											<div>
												<div>
													<div class="form-group" ng-class="{'has-error': ngNewAddress.name.$invalid && ngNewAddress.name.$dirty}">
														<label for="name">Nombre<span class="required-field" ></span></label>
														<input 
														type="text"
														name="name"
														class="form-control"
														id="addressName" ng-maxlength="80" 
														password-format ng-model="addaddress.name"
														required>
														<p class="help-block" ng-show="ngNewAddress.name.$error.passwordFormat && ngNewAddress.name.$dirty">El nombre sólo puede tener caracteres alfanuméricos y especiales.</p>
														<p class="help-block" ng-show="ngNewAddress.name.$error.required && ngNewAddress.name.$dirty">Este campo es obligatorio.</p>
													</div>
												</div>
											</div>
											<div class="">
												<div class="form-group">
														<label for="city">Ciudad</label>
														<input type="text" class="form-control" id="city">
												</div>
												<div class="form-group">
													<div class="form-group" ng-class="{'has-error': ngNewAddress.province.$invalid && ngNewAddress.province.$dirty}">
														<label>Provincia<span class="required-field">*</span></label>
														<select province-check
														class="enabledSelect form-control" 
														name="province" 
														id="province"
														ng-model="addaddress.province">
															<option ng-repeat="state in allStates" value="{{state.stateId}}">{{state.name}}</option>
														</select>
														<p class="help-block" ng-show="ngNewAddress.province.$error.provinceCheck && ngNewAddress.province.$dirty">Debe seleccionar una provincia.</p>
													</div>
												</div>
											</div>
											<div class="">
												<div class="form-group"  ng-class="{'has-error': ngNewAddress.street.$invalid && ngNewAddress.street.$dirty}">
													<label for="street">Calle<span class="required-field">*</span></label>
													<input type="text" class="form-control" id="street" 
													name = "street";
													ng-maxlength="80" 
													password-format ng-model="addaddress.street"
													required>
													<div ng-messages="ngNewAddress.street.$error" style="color:maroon" role="alert" ng-show="ngNewAddress.street.$dirty">
														<div ng-message="required">Este campo es obligatorio.</div>
														<div ng-message="passwordFormat">La calle sólo puede tener caracteres alfanuméricos y especiales.</div>
													</div>
												</div>
												<div class="form-group" ng-class="{'has-error': ngNewAddress.number.$invalid && ngNewAddress.number.$dirty}">
													<label for="number">Número<span class="required-field">*</span></label>
													<input type="text" class="form-control" id="number" name="number"
													ng-model="addaddress.number"
													required
													ng-maxlength="6"
													numeric-check >
													<div ng-messages="ngNewAddress.number.$error" style="color:maroon" role="alert" ng-show="ngNewAddress.number.$dirty">
														<div ng-message="required">Este campo es obligatorio.</div>
														<div ng-message="maxlength">El número es demasiado largo.</div>
														<div ng-message="numericCheck">Sólo puede contener números.</div>
													</div>
												</div>
												<div class="form-group" ng-class="{'has-error': ngNewAddress.floor.$invalid && ngNewAddress.floor.$dirty}">
													<label for="floor">Departamento</label>
													<input type="text" class="form-control" id="floor"
													name="floor"
													ng-maxlength="3"
													ng-model = "addaddress.floor"
													alphanumeric-check>
													<div ng-messages="ngNewAddress.floor.$error" style="color:maroon" role="alert" ng-show="ngNewAddress.floor.$dirty">
														<div ng-message="maxlength">El contenido del campo es demasiado largo.</div>
														<div ng-message="alphanumericCheck">Contiene caracteres inválidos.</div>
													</div>
												</div>
												<div class="form-group" ng-class="{'has-error': ngNewAddress.zipcode.$invalid && ngNewAddress.zipcode.$dirty}">
													<label for="zipCode">Código Postal<span class="required-field">*</span></label>
													<input type="text" class="form-control" id="zipCode"
													name="zipcode"
													ng-maxlength="10"
													required
													ng-model = "addaddress.zipcode"
													alphanumeric-check>
													<div ng-messages="ngNewAddress.zipcode.$error" style="color:maroon" role="alert" ng-show="ngNewAddress.zipcode.$dirty">
														<div ng-message="required">Este campo es obligatorio.</div>
														<div ng-message="maxlength">El código es demasiado largo.</div>
														<div ng-message="alphanumericCheck">Contiene caracteres inválidos.</div>
													</div>
												</div>
												<div class="form-group" ng-class="{'has-error': ngNewAddress.phone.$invalid && ngNewAddress.phone.$dirty}">
													<label for="phoneNumber">Número de teléfono<span class="required-field">*</span></label>
													<input type="text" 
													class="form-control" 
													id="phoneNumber"
													name="phone"
													ng-model="addaddress.phone"
													password-format
													ng-maxlength="25"
													required>
													<div ng-messages="ngNewAddress.phone.$error" style="color:maroon" role="alert" ng-show="ngNewAddress.phone.$dirty">
														<div ng-message="required">Este campo es obligatorio.</div>
														<div ng-message="maxlength">El número es demasiado largo.</div>
														<div ng-message="passwordFormat">Contiene caracteres inválidos.</div>
													</div>
												</div>
											</div>
											<button type="submit" ng-disabled="ngNewAddress.$invalid" class="btn btn-success" id="newAddress-button">Agregar dirección</button>
										</ng-form>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div ng-repeat-start="address in addresses" class="panel-footer" id="{{ address.id }}">
				<a role="button" data-toggle="collapse" data-parent="#accordion" href="{{'#collapse'+address.id}}" aria-expanded="true" aria-controls='{{"collapse" + address.id}}'>
					{{address.name}}
				</a>
				<button type="button" class="close disposeButton" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div ng-repeat-end id="{{'collapse'+ address.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{address.id}}">
				<ng-form name="eachForm">
					<div class="panel-body">
					<div class="city-picker">
						<div class="form-group">
							<label>Provincia</label>
							<select class="enabledSelect form-control" ng-model="address.province">
								{{address.province}}
								<option ng-repeat="state in allStates" ng-attr-selected="{{address.province==state.stateId ? true : false}}" value="{{state.stateId}}">{{state.name}}</option>
							</select>
						</div>
						<div class="form-group" ng-class="{'has-error': eachForm.city.$invalid && eachForm.city.$dirty}">
							<label for="cityInput">Ciudad</label>
							<input type="text" class="form-control floor-input" onfocusout="cityHandler(this)" value="{{address.city==undefined ? '' : address.city}}" placeholder="{{address.city==undefined ? '-' : undefined}}"
							ng-attr-name = "city"
							ng-model = "address.city"
							ng-required = "address.province!='C'"
							ng-maxlength = "80"
							alphanumeric-check
							>
							<div ng-messages="eachForm.city.$error"style="color:maroon" role="alert" ng-show="eachForm.city.$dirty">
								<div ng-message="required">Este campo es obligatorio.</div>
								<div ng-message="alphanumericCheck">Sólo puede contener caracteres alfanuméricos.</div>
								<div ng-message="maxlength">El contenido del campo es demasiado largo.</div>
							</div>
						</div>
					</div>
					<div class="adress-picker">
						<div class="form-group" ng-class="{'has-error': eachForm.street.$invalid && eachForm.street.$dirty}">
							<label for="streetInput">Calle</label>
							<input type="text" class="form-control" id="streetInput" onfocusout="streetHandler(this)" value="{{address.street}}" ng-attr-name="street" ng-model="address.street" 
							required 
							alphanumeric-and-specials-check
							ng-maxlength="80">
							<div ng-messages="eachForm.street.$error"style="color:maroon" role="alert" ng-show="eachForm.street.$dirty">
								<div ng-message="required">Este campo es obligatorio.</div>
								<div ng-message="alphanumericAndSpecialsCheck">Contiene caracteres inválidos.</div>
								<div ng-message="maxlength">El contenido del campo es demasiado largo.</div>
							</div>
						</div>
						<div class="form-group number-box" ng-class="{'has-error': eachForm.number.$invalid && eachForm.number.$dirty}">
							<label for="numberInput">Número</label>
							<input type="text" class="form-control" id="numberInput" onfocusout="numberHandler(this)" value="{{address.number}}" name="number" ng-model="address.number" 
							required
							alphanumeric-check
							ng-maxlength="6">
							<div ng-messages="eachForm.number.$error"style="color:maroon" role="alert" ng-show="eachForm.number.$dirty">
								<div ng-message="required">Este campo es obligatorio.</div>
								<div ng-message="alphanumericCheck">Sólo puede contener caracteres alfanuméricos.</div>
								<div ng-message="maxlength">El contenido del campo es demasiado largo.</div>

							</div>
						</div>
						<div class="form-group" ng-class="{'has-error': eachForm.floor.$invalid && eachForm.floor.$dirty}">
							<label for="floorInput">Departamento</label>
							<input type="text" class="form-control floor-input" onfocusout="floorHandler(this)" placeholder="{{address.floor==undefined ? '-' : undefined}}" value="{{address.floor==undefined ? '' : address.floor}}" id="floorInput" name="floor" ng-model="address.floor" 
							required
							alphanumeric-check
							ng-maxlength="3">
							<div ng-messages="eachForm.floor.$error"style="color:maroon" role="alert" ng-show="eachForm.floor.$dirty">
								<div ng-message="required">Este campo es obligatorio.</div>
								<div ng-message="alphanumericCheck">Sólo puede contener caracteres alfanuméricos.</div>
								<div ng-message="maxlength">El contenido del campo es demasiado largo.</div>
							</div>
						</div>
						<div class="form-group number-box" ng-class="{'has-error': eachForm.zipCode.$invalid && eachForm.zipCode.$dirty}">
							<label for="zipcodeInput">Código Postal</label>
							<input type="text" class="form-control" id="zipcodeInput" onfocusout="zipcodeHandler(this)" value="{{address.zipCode}}" name="zipCode" ng-model="address.zipCode" 
							required
							alphanumeric-check
							ng-maxlength="10"
							>
							<div ng-messages="eachForm.zipCode.$error"style="color:maroon" role="alert" ng-show="eachForm.zipCode.$dirty">
								<div ng-message="required">Este campo es obligatorio.</div>
								<div ng-message="alphanumericCheck">Sólo puede contener caracteres alfanuméricos.</div>
								<div ng-message="maxlength">El contenido del campo es demasiado largo.</div>
							</div>
						</div>
						<div class="form-group" ng-class="{'has-error': eachForm.phoneNumber.$invalid && eachForm.phoneNumber.$dirty}">
							<label for="phonenumberInput">Número de teléfono</label>
							<input type="text" class="form-control" id="phonenumberInput" onfocusout="phonenumberHandler(this)" value="{{address.phoneNumber}}" name="phoneNumber" ng-model="address.phoneNumber" 
							required
							alphanumeric-and-specials-check
							ng-maxlength="15">
							<div ng-messages="eachForm.phoneNumber.$error"style="color:maroon" role="alert" ng-show="eachForm.phoneNumber.$dirty">
								<div ng-message="required">Este campo es obligatorio.</div>
								<div ng-message="alphanumericAndSpecialsCheck">Contiene caracteres inválidos.</div>
								<div ng-message="maxlength">El contenido del campo es demasiado largo.</div>
							</div>
						</div>
					</div>
					</div>
				</ng-form>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="panel panel-default config-field">
				<div class="panel-body checkbox">
					<label><input type="checkbox" value="">Deseo recibir información sobre novedades</label>
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="row">
			<div class="col-md-3 col-sm-4 col-xs-6 div">
				<h4>ATENCIÓN AL CLIENTE</h4>
				<ul>
					<li class="footer-item toConstruct">Cómo comprar</li>
					<li class="footer-item toConstruct">Preguntas Frecuentes(FAQs)</li>
					<li class="footer-item toConstruct">Envíos</li>
					<li class="footer-item toConstruct">Cambios y devoluciones</li>
					<li class="footer-item toConstruct">Contacto</li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-6 div" id="footer-about-us">
				<h4>SOBRE NOSOTROS</h4>
				<ul>
					<li class="footer-item toConstruct">Términos y condiciones</li>
					<li class="footer-item toConstruct">Política y privacidad</li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-6 div" id="footer-second-level">
				<div class="row follow-us" id="follow-us">
					<div class="row footer-second-level-inner">
						<h4>SEGUINOS EN</h4>
					</div>
					<div class="row">
						<a class="follow-us-logo" href="http://www.facebook.com">
							<img src="./img/facebook-logo.jpg" alt="Facebook" id="facebook-logo">
						</a>
						<a class="follow-us-logo" href="http://www.twitter.com">
							<img src="./img/twitter-logo.jpg" alt="Twitter" id="twitter-logo">
						</a>
						<a class="follow-us-logo" href="https://plus.google.com/">
							<img src="./img/instagram-logo.jpg" alt="Instagram" id="instagram-logo">
						</a>
					</div>
				</div>

				<div class="row payment hidden-xs" id="footer-payment-md">
					<div class="row">
						<h4>FORMAS DE PAGO</h4>
					</div>
					<div class="row">
						<div class="payment-logo">
							<img src="./img/pagoFacil-logo.jpg" alt="Pago Facil" class="pagoFacil-logo">
						</div>
						<div class="payment-logo">
							<img src="./img/americanExpress-logo.jpg" alt="American Express" class="americanExpress-logo">
						</div>
						<div class="payment-logo">
							<img src="./img/masterCard-logo.jpg" alt="MasterCard" class="masterCard-logo">
						</div>
						<div class="payment-logo">
							<img src="./img/visa-logo.jpg" alt="VISA" class="visa-logo">
						</div>
					</div>
				</div>

			</div>

			<div class="payment visible-xs col-xs-6" id="footer-payment-xs">
				<div >
					<h4>FORMAS DE PAGO</h4>
				</div>
				<div >
					<div class="payment-logo">
						<img src="./img/pagoFacil-logo.jpg" alt="Pago Facil" class="pagoFacil-logo">
					</div>
					<div class="payment-logo">
						<img src="./img/americanExpress-logo.jpg" alt="American Express" class="americanExpress-logo">
					</div>
					<div class="payment-logo">
						<img src="./img/masterCard-logo.jpg" alt="MasterCard" class="masterCard-logo">
					</div>
					<div class="payment-logo">
						<img src="./img/visa-logo.jpg" alt="VISA" class="visa-logo">
					</div>
				</div>
			</div>
			<div class="col-md-3 hidden-sm hidden-xs hidden-sm div">
				<a class="water-logo" href="mainPage.html">
					<img src="./img/water-logo3.png" alt="American Express" id="water-logo-image">
				</a>
			</div>
		</div>
	</div>
</body>
</html>